PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games
MAILTO=art-vybor@ya.ru

#*/1 * * * * pkill -f -9 example.py; echo 1 > /root/out; /root/git/PokemonGo-Map/run 1> /root/r1 2> /root/r2
